<% content_for :title do %>About<% end %>
<h3>About Jordan Nguyen</h3>
<p>Jordan is learning how to user Ruby on Rails for his UCSB Capstone Project.</p>
<p>His favorite quotation is:</p>
<p>"savage fam"</p>